<header class="clearfix">
      <% if @user %>
          <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
          <div>
            <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
            <p class="tagline">
             POWERED BY SINATRA
              <a href="<%= @app['@app'] %>"><%= @app['name'] %></a>
            </p>
            <div id="share-app">
              <p>Share your app:</p>
              <ul>
                <li>
                  <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                    <span class="plus">Post to Wall</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
                    <span class="speech-bubble">Send Message</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                    <span class="apprequests">Send Requests</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <% else %>
        <div>
          <h1>Welcome</h1>
            <a href='/auth/facebook' class="fb_button fb_button_medium">
              <span class="fb_button_text">Log In</span>
            </a>
        </div>

      <% end %>
    </header>
